version: '3.8'

services:
  web:
    build: .
    ports:
      - "8080:80"
    environment:
      - DB_HOST=db
      - DB_USER=root
      - DB_PASSWORD=Senha123
      - DB_NAME=meubanco
    depends_on:
      - db

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: Senha123
      MYSQL_DATABASE: meubanco
    volumes:
      # Monta o script SQL para inicializar o banco de dados na criação do container
      - ./banco.sql:/docker-entrypoint-initdb.d/init.sql
